@mixin hyphens {
 -webkit-hyphens: auto;
	-moz-hyphens: auto;
	     hyphens: auto;
}

@mixin box-shadow($shadow) {
	   -moz-box-shadow:$shadow;
	-webkit-box-shadow:$shadow;
	        box-shadow:$shadow;
}

@mixin border-radius($radius) {
	   -moz-border-radius:3px;
	-webkit-border-radius:3px;
	        border-radius:3px;
}

@mixin box-sizing($box: border-box) {
	   -moz-box-sizing: $box;
	-webkit-box-sizing: $box;
	        box-sizing: $box;
}

// Transitions
@mixin transition($transition) {
    -moz-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

// Transformations
@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}
@mixin transform-origin($origin) {
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

// Animations
@mixin animation($animation) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

//Keyframes
@mixin keyframes($animation-name) {
  @-moz-keyframes $animation-name {
    @content;
  }
  @-webkit-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

%cf {
	&:after {
	    content:"";
	    display:table;
	    clear:both;
	}
}