---
---
@import "_mixins";
@import "normalize";


// ------------------

$base-font-size:21px;
$base-line-height:27px;
$cream:#faeec6;
$red:#bb1723;

$museo-sans: "museo-sans", Arial, sans-serif;
$museo-slab: "museo-slab", Georgia, serif;

// ------------------

body {
	background:#f9f9f9 url(/img/debut_light_@2x.png) repeat 0 0;
	background-size:200px;
	font-family:$museo-sans;
	font-size:$base-font-size;
	font-weight:300;
	line-height:$base-line-height;
}

.ie8 body {
	background-image:url(/img/debut_light.png);
}

h1 {
	font-family:$museo-slab;
	font-weight:300;
	left:0;
	margin:2.505em 0 0 0;
	position:absolute;
	text-align:center;
	text-transform:lowercase;
	top:50%;
	width:100%;
}

h1:after {
	background:url(/img/compass.png) no-repeat 0 0;
	background-size:100%;
	bottom:100%;
	content:"";
	height:6em;
	left:50%;
	margin:0 0 .3em -3em;
	position:absolute;
	width:6em;
	z-index:-1;
}