@import "_mixins";
@import "normalize";


// ------------------

$base-font-size: 1.3125em;
$base-line-height: 1.2857;
$cream: #faeec6;
$red: #bb1723;

$museo-sans: "museo-sans", Arial, sans-serif;
$museo-slab: "museo-slab", Georgia, serif;

// ------------------

body {
	background: #373737 url(/img/debut_dark.png) repeat 0 0;
	background-size: 200px;
	font-family: $museo-sans;
	font-size: $base-font-size;
	font-weight: 300;
	line-height: $base-line-height;
	margin: 0;
	padding: 0;
	@include transition(background 1s ease-in 2s);
}
.no-js body, body.init {
	background: #f9f9f9 url(/img/debut_light.png) repeat 0 0;
	background-size: 200px;
}

.logo {
	margin: $base-line-height * 3em auto 0 auto;
	@media only screen and (max-height: 600px) {
		margin-top: $base-line-height + em;
	}
	max-width: 80%;
	padding: 0 20px;
	width: 14.2857em;
}
.compass {
	margin: 0 auto;
	padding: 75% 0 0 0;
	position: relative;
	@include transform(translateZ(0));
	width: 75%;
}
.compass div {
	background: rgba(255,255,255,.1);
	height: 65%;
	left: 39px;
	position: absolute;
	top: 39px;
	@include transition(all 2s ease-in-out);
	width: 65%;
}
.no-js .compass div {
	opaacity: 0;
}
.init .compass div {
	@include animation(fadeOut 4s);
}
.init .s1 {
	@include transform(rotate(202.5deg));
}
.init .s2 {
	@include transform(rotate(225deg));
}
.init .s3 {
	@include transform(rotate(247.5deg));
}
.init .s4 {
	@include transform(rotate(270deg));
}

.rose {
	background: transparent url(/img/compass.png) no-repeat 50% 50%;
	background-size: 100%;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	@include transition(opacity 1s ease-in 2s);
}
.no-js .rose, .init .rose {
	opacity: 1;
}

h1 {
	color: #333;
	font-family: $museo-slab;
	font-size: 2em;
	font-weight: 300;
	margin: 00;
	opacity: 0;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	text-shadow: 0 1px 1px rgba(255,255,255,.15);
	@include transition(opacity 1s ease-in 2s);
	width: 100%;
}
.no-js h1, .init h1 {
	opacity: 1;
}



@include keyframes(fadeOut) {
	0%   {opacity: 1;}
	50%  {opacity: 1;}
	100% {opacity: 0;}
}
