@import 'mixins';


// ------------------

$base-font-size: 1.3125em;
$base-line-height: 1.42857;

$white: #f9f9f9;
$black: #373737;
$link: #e49d05;

$gutter: $base-font-size;

$sans: "franklin-gothic-urw-cond", sans-serif;
$script: "bello-pro", sans-serif;

// ------------------

body {
  background: $white;
  font-family: $sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  transition: background 1s ease-in 2s;
}




a {
  color: $link;
  transition: color .2s ease-in;

  &:visited {
    color: darken($link, 7%);
  }

  &:hover,
  &:focus,
  &:active {
    color: lighten($link, 10%);
    text-decoration: none;
  }
}




.logo {
  margin: $base-line-height * 3em auto $base-line-height + em;
  max-width: 50%;
  padding: 0 20px;
  width: 11.90476em;

  @media only screen and (max-height: #{600/16 * 1em}) {
    margin: $base-line-height + em auto $base-line-height * .5em;
  }
}

.compass {
  margin: 0 auto;
  padding: 75% 0 0;
  position: relative;
  transform: translateZ(0);
  width: 75%;

  div {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: rotate;
    animation-timing-function: linear;
    background: $black;
    background: rgba($black, .5);
    bottom: 17.5%;
    left: 17.5%;
    position: absolute;
    right: 17.5%;
    top: 17.5%;
  }
}

.s1 {
  animation-iteration-count: .5625; // 202.5
}

.s2 {
  animation-iteration-count: .625; // 225
}

.s3 {
  animation-iteration-count: .6875; // 247.5
}

.s4 {
  animation-iteration-count: .75; // 270
}




.text {
  margin-bottom: $base-line-height * 3em;
  transition: opacity 1s ease-in;

  @media only screen and (max-width: #{480/16 * 1em}) {
    font-size: .8571em;
  }

  .wf-loading & {
    opacity: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 22.8571em;
  padding: 0 $gutter;
}




h1 {
  color: #434343;
  display: inline;
  font-family: $script;
  font-size: 1.42857em;
  line-height: 1;
  margin: 0 .05em 0 .25em;
  text-transform: lowercase;
}




@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
