html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-webkit-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: #efefef;
  font-size: 112.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  @media screen and (max-width: 30em) {
    html {
      font-size: 100%; } }

body {
  background-color: transparent;
  color: #373b36;
  font-family: "chaparral-pro", Palatino, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%; }

a {
  color: #c64227;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }
  a:hover {
    color: #aa3921; }
  a:visited {
    color: #8d2f1c; }
  a:focus, a:active {
    color: #aa3921; }

h1 {
  font-size: 2.61792rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 1.5rem 0; }
  h1 span {
    display: block; }

h2 {
  font-size: 1.618rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 2.5rem 0 0.5rem 0; }

p {
  margin: 1.5rem 0; }
  h2 + p {
    margin-top: 0; }

li {
  margin: 0 0 1.5rem 0; }

article {
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 4.5rem auto;
  max-width: 30rem;
  padding: 4.5rem 11% 2.5rem 11%; }

.condensed li {
  margin: 0; }
