<!DOCTYPE html>
<!--[if lte IE 7 ]><html lang="en" class="no-js old-ie" id="jacobfentress-com"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8" id="jacobfentress-com"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9" id="jacobfentress-com"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js" id="jacobfentress-com"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ page.title }}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		{% comment %}
			<link rel="shortcut icon" href="/favicon.ico">
			<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		{% endcomment %}

		<link rel="stylesheet" href="{{ site.main_css }}">
	</head>
	<body class="{{ page.layout }}">