<!DOCTYPE html>
<!--[if lte IE 7 ]><html lang="en" class="no-js old-ie" id="jacobfentress-com"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8" id="jacobfentress-com"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9" id="jacobfentress-com"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js" id="jacobfentress-com"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ page.title }}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="{{ site.main_css }}">

		<script src="/js/modernizr.js"></script>
		<script>
			yepnope([{
				load: '//use.typekit.net/pvu2ati.js',
				callback: function (url, result, key) {
					try{Typekit.load();}catch(e){}
				}
			}, {
				load: '/js/ender.min.js'
			}, {
				load: '/js/the-business.js'
			}]);
		</script>
	</head>
	<body>
